<div class="login-container">
    <div class="logo">
        <!-- <img src="your-image-url.jpg" alt="Logo"> -->
    </div>
    <h2 class="text-align-center">Login</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="email" >Email:</label>
            <input type="text" id="email" name="email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <p class="error-text text-align-left" *ngIf="email?.errors?.['required']">Email is required</p>
                <p class="error-text text-align-left" *ngIf="email?.errors?.['email']">Invalid email</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <p class="error-text text-align-left" *ngIf="password?.errors?.['required']">Password is required</p>
                <p class="error-text text-align-left" *ngIf="password?.errors?.['invalidPassword']">Invalid password format</p>
            </div>
        </div>
        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Login</button>
        <p class="error-text text-align-left" *ngIf="errorText">{{errorText}}</p>
    </form>
</div>