.side-navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1f2022;
    color: #fff;
    overflow: auto;
    z-index: 9997;
    padding: 0;
    width:16rem;
    height:100%;

    &__logo{
        text-align: center;
        margin: 24px 0;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 16px 0;
    }

    &__menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    &__menu-option{
        padding-left: 24px;
        > a{
            display: flex;
            align-items: baseline;
            column-gap: 16px;
            text-decoration: none;
            color: white;
            margin: 12px;
        }

        &:hover , &--selected{
            background-color: rgb(100, 97, 97);
        }
    }
}