<section class="side-navbar">
    <section class="side-navbar__logo">
        <a>
            <h2>
                <i class="fa-solid fa-hospital fa-beat-fade"></i>
                HealthCare
            </h2>
        </a>
    </section>
    <section class="side-navbar__menu">
        <ul class="side-navbar__menu-list">
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-table-columns"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-calendar-check"></i>
                    <span>Appointments</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-building"></i>
                    <span>Departments</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Doctors</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-wheelchair"></i>
                    <span>Patients</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-user-nurse"></i>
                    <span>Nurses</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-flask"></i>
                    <span>Lab assistant</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-credit-card"></i>
                    <span>Payment</span>
                </a>
            </li>
        </ul>

        <ul class="side-navbar__menu-list">
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="side-navbar__menu-option">
                <a>
                    <i class="fa-solid fa-headset"></i>
                    <span>FAQ & Support</span>
                </a>
            </li>
        </ul>
    </section>
</section>