<section class="container">
    <section class="dashboard__overview">
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-briefcase-medical"></i>
            Appointments
            214
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-wheelchair"></i>
            New patients
            32
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-syringe"></i>
            Operations
            90
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            Hospital Earning
            2334347
        </div>
    </section>

    <section class="dashboard__survey">

    </section>

    <section class="dashboard__last-appointments">

    </section>
</section>