.dashboard {
    &__overview {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__overview-item {
        background-color: #ffffffeb;
        padding: 24px 36px;
        width: 24%;
        border-radius: 8px;
        box-shadow: 10px 10px 10px grey;
    }

    &__last-appointments {
        margin: 48px 0;
    }

}