<section class="container">
    <section>
        <h2>Dashboard</h2>
    </section>

    <section class="dashboard__overview">
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-briefcase-medical"></i>
            Appointments
            214
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-wheelchair"></i>
            New patients
            32
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-syringe"></i>
            Operations
            90
        </div>
        <div class="dashboard__overview-item">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            Hospital Earning
            2334347
        </div>
    </section>

    <section class="dashboard__survey">
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </section>

    <section class="dashboard__last-appointments">
        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let item of appointments">
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Edit|Delete</td>
            </tr>
        </table>

    </section>
</section>