<form [formGroup]="appointmentForm" (ngSubmit)="onSave()">
    <div id="createAppointmentModal" aria-labelledby="createAppointmentModalLabel">
        <div>
            <div class="create-appointment-content">
                <div class="create-appointment-header">
                    <h1 class="create-appointment-title fs-5" id="createAppointmentModalLabel">Create new appointment</h1>
                </div>
                <div class="create-appointment-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName">
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                                <p *ngIf="firstName?.errors?.['required']">First name is required</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName">
                        </div>
                        <div class="col-md-6">
                            <label for="emailId" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailId" formControlName="email">
                        </div>
                        <div class="col-md-6">
                            <label for="phoneNumber" class="form-label">Phone No.</label>
                            <input type="tel" class="form-control" id="phoneNumber" formControlName="phone">
                        </div>
                        <div class="row g-3" formGroupName="address">
                            <label for="inputAddress" class="form-label">Address</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="city" placeholder="City/Town"
                                    formControlName="city">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="state" placeholder="State"
                                    formControlName="state">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="country" placeholder="Country"
                                    formControlName="country">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="zip" placeholder="Zipcode"
                                    formControlName="pincode">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="department" class="form-label">Department of the Doctor</label>
                            <select id="department" class="form-select" formControlName="deptName">
                                <option selected>Choose...</option>
                                <option value="othro">Ortho</option>
                                <option value="gyno">Gyncologist</option>
                                <option value="medicine">Medicine</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="doctor" class="form-label">Doctor</label>
                            <input type="text" class="form-control" id="doctor" placeholder="Dr. X"
                                formControlName="doctorName">
                        </div>
                        <div class="col-12 g-3" fromArrayName="controls">
                            <label for="symptoms" class="form-label">Symptoms</label>
                            <button type="button" (click)="addSymptom()">+ Add new symptom</button>
                            <div class="col-12" *ngFor="let symptom of symptoms.controls; let i=index">
                                <label for="symptom-{{ i }}">Symptom:</label>
                                <input id="symptom-{{ i }}" type="text" [formControlName]="i">
                                <button [id]="i" type="button" (click)="removeSymptom(i)">X</button>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="create-appointment-footer">
                    <button type="button" class="btn btn-secondary" (click)="goToPreviousPage()">Back</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>