/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.container {
  padding: 36px 64px;
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cc5858;
}

.fixed{
  position: fixed;
}

.bottom-right{
  bottom: 24px;
  right: 48px;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
